body {
    background-color: #333;
    border-radius: 30px;
    color:azure;
    width: 200px;
    height: 100px;
    margin: 0;
    padding: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
  }
  
  #tab-counter {
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  
  .progress-bar {
    width: 200px;
    height: 50px;
    border: 1px solid #333;
    position: relative;
  }
  
  .progress {
    width: 0%;
    height: 100%;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s;
  }
  
  .labels {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -20px;
    width: 100%;
    font-size: 12px;
  }
  
  .label {
    width: 10px;
    text-align: center;
  }
  