body {
    background-color: #333;
    border-radius: 30px;
    color:azure;
    width: 431px;
    height: 218px;
    margin: 0;
    padding: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
  }
  
  #tab-counter {
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  
  